<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <textarea cols="20" id="post_content" name="post[content]" rows="4"></textarea>

  </div>
   <div class="field">
     <%= f.label :category %><br />
     <select name="post[category]">
        <option value="0"><%="日志" %></option>
        <option value="1"><%="技术" %></option>
       <option value="2"><%="转载" %></option>
        </select>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
